/*

!.gitignore
!.gitignore.global
!.gitmodules
!.gitconfig

!.zprofile
!.zlogin
!.zshrc
!.zshenv.old
!.zshenv
!.zpretzorc
!.zpretzo/
!.zsh/

!.ssh/
.ssh/*
!.ssh/config
!.ssh/id_rsa
!.ssh/id_rsa.pub
!.ssh/authorized_keys

!.tmux.conf

!.dotfiles-install

.*.swp
.*.swo
