/*

!.gitignore
!.gitignore.global
!.gitmodules
!.gitconfig

!.zprofile
!.zlogin
!.zshrc
!.zshenv.old
!.zshenv
!.zpreztorc
!.zprezto/
!.zsh/

!.ssh/
.ssh/*
!.ssh/config
!.ssh/id_rsa
!.ssh/id_rsa.pub
!.ssh/authorized_keys

!.tmux.conf

!.netrc

!.dotfiles-install

.*.swp
.*.swo
